backend/venv/
backend/data/final
backend/data/test
backend/data/processed/
backend/data/raw/
backend/data/token_cache.json
backend/data/trading_models.pkl

# Ignore all .log files
*.log
**/*.log

# Ignore Python cache files
*.pyc
**/*.pyc
__pycache__/
**/__pycache__/

# Fyers tokens
fyers_token.json

# Local settings
.claude/settings.local.json